<section id="about">
	<div class="about-unit">
		<div class="about-img img1"></div>
		<div class="about-content content1">
			<h1>Choose Your Business Type</h1>
			<h3>...And we'll Build Your Brand.</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolorum sequi provident illo voluptates modi commodi, alias sint veniam tempora labore, unde velit. Et impedit in eum laudantium quisquam consequatur.</p>
		</div>
	</div>
	<div class="about-unit">
		<div class="about-img img2"></div>
		<div class="about-content content2">
			<h1>Choose Your Style</h1>
			<h3>...And we'll Design A Unique Prototype.</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolorum sequi provident illo voluptates modi commodi, alias sint veniam tempora labore, unde velit. Et impedit in eum laudantium quisquam consequatur.</p>
		</div>
	</div>
	<div class="about-unit">
		<div class="about-img img3"></div>
		<div class="about-content content3">
			<h1>Choose Your Website</h1>
			<h3>...And we'll Develop It To Perfection.</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolorum sequi provident illo voluptates modi commodi, alias sint veniam tempora labore, unde velit. Et impedit in eum laudantium quisquam consequatur.</p>
		</div>
	</div>
</section>