<section id="cta">
	<div class="cta-wrap">
		<div class="cta-text">
			<div class="cta-title">
				<h1>Create Your Brand.</h1>
				<h1>Build Your Business.</h1>
			</div>
			<div class="cta-p">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae deleniti possimus laborum provident eaque repellendus iure ipsum odio, obcaecati error vitae quisquam debitis animi praesentium sunt, itaque nostrum, corrupti expedita.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro iure accusantium dolorum corrupti, consectetur. Vitae quaerat sed animi placeat pariatur provident, odit quod. A possimus dolor culpa magni sed aliquid.</p>
			</div>
			<div class="cta-btn">
				<a href=""><span class="start-btn">Get STarted</span></a>
			</div>
		</div>
		<div class="cta-img"></div>
	</div>
</section>