<section id="header">
	<div class="small-logo"><img src="assets/img/logos/small-logo.png" alt=""></div>
	<div class="nav">
		<ul>
			<li><a href="#work">Our Work</a></li>
			<li><a href="#services">Services</a></li>
			<li><a href="#plans">Plans</a></li>
			<li><a href="#about">The Process</a></li>
			<li><a href="" class="open-modal">Questions?</a></li>
		</ul>
	</div>
	<div class="main-title">
		<div class="main-logo"></div>
		<div class="lead"><p>We are <span class="bold-white">REPLITZ</span>.  We work with you to create your perfect <span class="bold-white">vision</span> of what you want in a business website!  We are <span class="bold-white">Fast</span>, <span class="bold-white">Efficient</span> and strive for <span class="bold-white">Perfection</span>.</p></div>
		<a href="#cta"><span class="learn-btn">Learn More</span></a>
	</div>
	{% include modal.html %}
</section>