<div class="modal-overlay">
	<div class="modal">
		<form action="">
			<h2>How Can We Help You?</h2>
			<input type="text" placeholder="Name">
			<input type="text" placeholder="Email">
			<textarea name="" id="" cols="30" rows="10" placeholder="Having trouble...?"></textarea>
			<input type="submit">
		</form>
		<div class="social-icons">
			<a href="http://www.facebook.com"><span><i class="ion-social-facebook"></i></span></a>
			<a href="http://www.google.com"><span><i class="ion-social-googleplus"></i></span></a>
			<a href="http://www.twitter.com"><span><i class="ion-social-twitter"></i></span></a>
			<a href="http://www.pinterest.com"><span><i class="ion-social-pinterest"></i></span></a>
			<a href="http://www.dribble.com"><span><i class="ion-social-dribbble-outline"></i></span></a>
		</div>
	</div>
	<span><i class="ion-android-close"></i></span>
</div>