<section id="plans">
	<div class="plan-flex">
		<div class="plan">
			<div class="price-title">
				<h1 class="price">$10</h1>
				<p>per month</p>
			</div>
			<h2 class="plan-type"></h2>
			<h1 class="plan-title">Personal</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga reprehenderit fugit delectus, amet, assumenda adipisci ipsum. Commodi id obcaecati ipsa pariatur, est asperiores, velit similique fugiat facilis aut excepturi at.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque soluta asperiores rem facilis, fuga ipsa maiores, maxime alias modi cumque. Laboriosam veritatis explicabo, velit quidem cupiditate nihil doloribus at, sint.</p>
			<a href=""><span class="plan-btn">Basic</span></a>
		</div>
		<div class="plan">
			<div class="price-title">
				<h1 class="price">$30</h1>
				<p>per month</p>
			</div>
			<h2 class="plan-type"></h2>
			<h1 class="plan-title">Business</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga reprehenderit fugit delectus, amet, assumenda adipisci ipsum. Commodi id obcaecati ipsa pariatur, est asperiores, velit similique fugiat facilis aut excepturi at.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque soluta asperiores rem facilis, fuga ipsa maiores, maxime alias modi cumque. Laboriosam veritatis explicabo, velit quidem cupiditate nihil doloribus at, sint.</p>
			<a href=""><span class="plan-btn">Pro</span></a>
		</div>
		<div class="plan">
			<div class="price-title">
				<h1 class="price">$50</h1>
				<p>per month</p>
			</div>
			<h2 class="plan-type"></h2>
			<h1 class="plan-title">Corporation</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga reprehenderit fugit delectus, amet, assumenda adipisci ipsum. Commodi id obcaecati ipsa pariatur, est asperiores, velit similique fugiat facilis aut excepturi at.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque soluta asperiores rem facilis, fuga ipsa maiores, maxime alias modi cumque. Laboriosam veritatis explicabo, velit quidem cupiditate nihil doloribus at, sint.</p>
			<a href=""><span class="plan-btn">Premium</span></a>
		</div>
	</div>
</section>