<section id="services">
	<div class="service-flex">
		<div class="service-unit">
			<span><i class="ion-ios-camera-outline"></i></span>
			<h3>Images</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, tempora! Nobis eligendi alias, ex dolorem impedit excepturi cupiditate, ratione molestias nostrum veritatis sapiente fuga doloribus beatae vel. Nam, vitae, odit.</p>
		</div>
		<div class="service-unit">
			<i class="ion-android-close"></i>
			<span><i class="ion-ios-compose-outline"></i></span>
			<h3>Logo Designs</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, tempora! Nobis eligendi alias, ex dolorem impedit excepturi cupiditate, ratione molestias nostrum veritatis sapiente fuga doloribus beatae vel. Nam, vitae, odit.</p>
		</div>
		<div class="service-unit">
			<i class="ion-android-close"></i>
			<span><i class="ion-ios-monitor-outline"></i></span>
			<h3>Website Templates</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, tempora! Nobis eligendi alias, ex dolorem impedit excepturi cupiditate, ratione molestias nostrum veritatis sapiente fuga doloribus beatae vel. Nam, vitae, odit.</p>
		</div>
		<div class="service-unit">
			<span><i class="ion-iphone"></i></span>
			<h3>Responsive Designs</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, tempora! Nobis eligendi alias, ex dolorem impedit excepturi cupiditate, ratione molestias nostrum veritatis sapiente fuga doloribus beatae vel. Nam, vitae, odit.</p>
		</div>
		<div class="service-unit">
			<i class="ion-android-close"></i>
			<span><i class="ion-code"></i></span>
			<h3>Developer Tools</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, tempora! Nobis eligendi alias, ex dolorem impedit excepturi cupiditate, ratione molestias nostrum veritatis sapiente fuga doloribus beatae vel. Nam, vitae, odit.</p>
		</div>
		<div class="service-unit">
			<i class="ion-android-close"></i>
			<span><i class="ion-clipboard"></i></span>
			<h3>Unlimited Customization</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, tempora! Nobis eligendi alias, ex dolorem impedit excepturi cupiditate, ratione molestias nostrum veritatis sapiente fuga doloribus beatae vel. Nam, vitae, odit.</p>
		</div>
	</div>
</section>