<section id="work">
	<div class="work-content">
		<div class="work-nav">
			<ul>
				<li><a data-img="work1" href="">Businesses</a></li>
				<li><a data-img="work2" href="">Sports</a></li>
				<li><a data-img="work3" href="">Music</a></li>
			</ul>
		</div>
			<div class="imac-img"></div>
			<div class="work-paragraph">
				<h3 class="work-title">Businesses</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tenetur fugiat repellendus nobis dicta architecto excepturi at repellat et nemo temporibus, iure fuga, laborum animi ipsa. Culpa dolorem ipsa magni!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tenetur fugiat repellendus nobis dicta architecto excepturi at repellat et nemo temporibus, iure fuga, laborum animi ipsa. Culpa dolorem ipsa magni!</p>
			</div>
	</div>
</section>
