<section id="work">
	<div class="work-content">
		<div class="imac-img"></div>
		<div class="work-paragraph">
			<h3 class="work-title">Businesses</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tenetur fugiat repellendus nobis dicta architecto excepturi at repellat et nemo temporibus, iure fuga, laborum animi ipsa. Culpa dolorem ipsa magni!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tenetur fugiat repellendus nobis dicta architecto excepturi at repellat et nemo temporibus, iure fuga, laborum animi ipsa. Culpa dolorem ipsa magni!</p>
		</div>
		<div class="scrolling-paragraphs">
			<div class="work-paragraph">
				<h3 class="work-title work-title2">Sports</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tenetur fugiat repellendus nobis dicta architecto excepturi at repellat et nemo temporibus, iure fuga, laborum animi ipsa. Culpa dolorem ipsa magni!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tenetur fugiat repellendus nobis dicta architecto excepturi at repellat et nemo temporibus, iure fuga, laborum animi ipsa. Culpa dolorem ipsa magni!</p>
			</div>
			<div class="work-paragraph">
				<h3 class="work-title work-title3">Music</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tenetur fugiat repellendus nobis dicta architecto excepturi at repellat et nemo temporibus, iure fuga, laborum animi ipsa. Culpa dolorem ipsa magni!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium tenetur fugiat repellendus nobis dicta architecto excepturi at repellat et nemo temporibus, iure fuga, laborum animi ipsa. Culpa dolorem ipsa magni!</p>
			</div>
		</div>
	</div>
</section>